.App {
  text-align: center;
  user-select: none;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
}
.NavDiv {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(39, 116, 138);
  display: flex;
  padding: 20px;
}
.NavLinks li {
  display: flex;
  text-decoration: none;
  margin: 0 10px;
}
.NavLinks li a {
  text-decoration: none;
  color: white;
}
.active-menu {
  border-bottom: 3px solid white;
}
.GenerateOrder {
  padding: 20px 0;
  text-align: right;
}
.GenerateOrder button {
  padding: 10px 15px;
  font-weight: bold;
}
.form-control {
  border: 2px solid black !important;
  font-weight: bold !important;
}
.Cursor,
.form-control {
  cursor: pointer;
  font-weight: bold;
  color: rgb(39, 116, 138);
}
.Order .table td,
.table-bordered td,
.table-bordered th,
.Order .table th,
.table tr {
  vertical-align: middle;
  border: 2px solid black;
}
.Products .table td,
.Products .table th .NewOrder .table td,
.NewOrder .table th {
  border: 2px solid black;
}
table .border {
  border: 2px solid black !important;
}
.Products .table-hover tbody tr:hover,
.NewOrder .table-hover tbody tr:hover {
  background-color: #d7dfe2 !important;
}
.None tr {
  background-color: white !important;
}
.App .Products .None tr:hover {
  background-color: white !important;
}
.Left {
  margin-left: 5px;
}
